* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.allContainer {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #333;
  background-color: #eee;
}

#navbarCollapse i {
  color: rgba(255, 119, 48, .8);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgba(255, 119, 48, .8);
  bottom: 0;
  left: calc(50% - 20px);
}

